<div class="uk-width-1 uk-child-width-1">
    <div class="uk-margin-small-left uk-margin-medium-top uk-text-large  uk-margin-auto uk-text-uppercase" style="max-width: 640px; font-size: 3em;" >ABOUT</div>
		<div class="uk-margin-medium-top uk-card uk-card-default uk-card-body  uk-margin-auto" style="max-width: 640px">
			{% if page.music163link %}
			<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="{{ page.music163link }}"></iframe>
			{% endif %}
			{{ content }}
<hr class="uk-divider-icon">
	    <div class="uk-margin-medium-top uk-text-large uk-text-uppercase" style="max-width: 640px; font-size: 2em; border-left: 4px solid #1AB3F2" >  <div class="uk-margin-small-left">留言：</div></div>
<hr>
					{% include third/comments.html %}


		</div>

	</div>