
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/post_list.css" | prepend: site.baseurl }}">


<div  class="uk-width-1 uk-child-width-1">
  <div  class="uk-margin-small-left uk-margin-medium-top uk-margin-auto uk-text-uppercase" style="max-width: 640px; font-size: 3em;" >POST</div>



  {% for post in paginator.posts %}

    {% assign is_index = true %}
   {% include common/index_card.html %}
  
{% endfor %}

<div class="uk-padding-small">
  <div class="uk-width-1 post_list_paginator_li uk-margin-auto" style="max-width: 640px" >
   {% include paginator.html %}
 </div>
</div>
</div>

