
<ul class="uk-pagination uk-child-width-1-2 uk-text-small">
    <li>
        {% if page.next %}

        {% if page.next.type == 'link' %}

        <a href="{{ paginator.previous_page_path }}"><span class="uk-margin-small-right" uk-pagination-previous></span> {{ page.next.title | truncate:15 }}</a>

        {% else %}

        <a href="{{ page.next.url }}"><span class="uk-margin-small-right" uk-pagination-previous></span> {{ page.next.title | truncate:15 }}</a>

        {% endif %}
        {% endif %}

    </li>

    <li class="uk-text-right">

        {% if page.previous %}
        {% if page.previous.type == 'link' %}

        <a href="{{ page.previous.link }}">{{ page.previous.title | truncate:20 }} <span class="uk-margin-small-left" uk-pagination-next></span></a>

        {% else %}

        <a href="{{ page.previous.url }}">{{ page.previous.title | truncate:20 }} <span class="uk-margin-small-left" uk-pagination-next></span></a>

        {% endif %}
        {% endif %}

    </li>
</ul>