{% if site.leancloud_comment.enable %}
<div id="container"></div>
<script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="https://unpkg.com/valine/dist/Valine.min.js"></script>
<script>
    new Valine({
        // AV 对象来自上面引入av-min.js(老司机们不要开车➳♡゛扎心了老铁)
        av: AV,
        el: '.comment', // 
        app_id: '{{ site.leancloud_comment.app_id }}', // 这里填写上面得到的APP ID
        app_key: '{{ site.leancloud_comment.app_key }}', // 这里填写上面得到的APP KEY
        placeholder: '{{ site.leancloud_comment.placeholder }}', // 'ヾﾉ≧∀≦)o来啊，快活啊!', // [v1.0.7 new]留言框占位提示文字
        avatar: '{{ site.leancloud_comment.avatar }}'
    });
</script>
{% endif %}