
h1, h2, h3, h4, h5, h6
{
        margin-top: 20px;
        margin-bottom: 10px;
}
p, pre, ul, ol,  blockquote 
{
    margin-top: 0;
    margin-bottom: 10px;

}
/*
 *  blockquote
 */
 blockquote {
    padding-top: 3px;
    padding-bottom: 3px;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #1AB3F2;
    background-color: #E8E8E8;
    font-style: inherit;
} 
blockquote p {
    margin: 15px;
    font-size: 0.8em;
}
blockquote p:last-of-type {
    margin: 15px;
}
/*
 * code
 */
 code.highlighter-rouge
 {
    color: #1AB3F2;
}

div.highlighter-rouge>pre.highlight
{
    padding: 0;
}

/*
 * table
 */

 table {   
    border-collapse: collapse;   
    border: none;   
}   
table>tbody th {
    background-color: #fafafa;
}
table>tbody td, th {   
    border: solid #E8E8E8 1px;   
}  
img {
    max-width: 80%;
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}